.card {
  border: 0px solid transparent;
  border-radius: 5px;
  background: #fff;
  cursor: pointer;
  border-bottom: 5px solid transparent;

  img {
    width: 100%;
  }
  .body {
    padding: 0px 20px;

    ul {
      display: flex;
      padding: 0;
      list-style: none;

      li > a {
        border: 1px solid #ced4da;
        border-radius: 3px;
        padding: 5px 8px;
        margin: 0 5px 0 0;
        color: #000;

        &:hover {
          background: #ced4da;
        }
      }
    }
  }
  &.selected {
    border-bottom: 5px solid #06D6A0;
  }
}